body{
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

h1{
    font-size: 40px;
    font-weight: 400;
}

#animar{
    display: flex;
    justify-content: space-between;
    width: 20vw;
    
}

.item{
    background-color: black;
    height: 40px;
    width: 8px;
    animation: esticar 1s linear infinite;
}

.item:nth-child(1){
    animation-delay: 0s;
}

.item:nth-child(2){
    animation-delay: 0.1s;
}

.item:nth-child(3){
    animation-delay: 0.2s;
}

.item:nth-child(4){
    animation-delay: 0.3s;
}

.item:nth-child(5){
    animation-delay: 0.4s;
}

.item:nth-child(6){
    animation-delay: 0.5s;
}

.item:nth-child(7){
    animation-delay: 0.6s;
}

.item:nth-child(8){
    animation-delay: 0.7s;
}

.item:nth-child(9){
    animation-delay: 0.8s;
}

.item:nth-child(10){
    animation-delay: 0.9s;
}

@media (max-width: 600px){
    #animar{
        display: block;
    }
    
    .item{
        position: absolute;
        left: 50%;
        height: 70px;
        width: 12px;
        animation-name: girar;
        animation-duration: 2s;
        transform-origin: bottom;
    }
}

@keyframes girar {
    0%{
        transform: rotate(0deg);
    }
    30%{
        background-color: purple;
        transform: rotate(0deg);
    }
    70%{
        background-color:purple;
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes esticar{
    0%{
        transform: scaleY(1);
    }
    70%{
        background-color: black;
        transform: scaleY(1);
    }
    85%{
        background-color: blueviolet;
        transform: scaleY(2);
    }
    100%{
        background-color: black;
        transform: scaleY(1);
    }
}
